*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.background{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(../Images/Backgrounds/Ocean_6/5.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

.header{
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 1;
}


.navbar {
    width: auto;
    height: auto;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    font-size: 40px;
    float: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 20px;

}
.content .logo a{
    color: white;
}
.logo a:hover{
    color: rgb(255, 0, 191);
}

.content .logo {
    font-size: 30px;
    cursor: pointer;
    font-family: cursive;
    margin-bottom: 5px;
}

.content .logo a:hover{
    color: rgb(255, 0, 191);

}

.logo a {
    text-decoration: none;
    color: white;
    transition: .3s ease;
}

.roz {
    color: rgb(255, 0, 191);
}

.menu {
    width: auto;
    float: right;
    margin-right: 30px;
}


.menu ul{
    float: right;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}

.menu ul li {
    list-style: none;
    margin-left: 60px;
    font-size: 16px;
}

.menu ul li a { 
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .3s ease;
}

.menu ul li a:hover {
    color: rgb(255, 0, 191);
}


.menu ul li a::after {
content: '';
position: absolute;
left: 0;
width: 100%;
height: 2px;
bottom: -6px;
background: rgb(255, 0, 191);
border-radius: 5px;
transform: translateY(10px);
transition: .3s ease;
opacity: 0;
}


.menu ul li a:hover::after {
    transform: translateY(0px);
    opacity: 1;
}












.foooter {
    display: flex;
    position: fixed;
    height: 5vh;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.288);
    z-index: 2;
    align-items: center;
    justify-content: space-between; 
}


.footer-left {
    margin-left: 30px;
    font-size: 8px;
    color: white;
    transition: 0.3s ease;
}


.footer-middle {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    font-size: 8px;
}

.footer-middle .logo {
    color: white;
    transition: 0.3s, ease;
}

.footer-middle .logo:hover {
    color: rgb(255, 0, 191);
}


.help-button {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s ease;
    font-size: 13px;
}

.help-button:hover {
    color: rgb(255, 0, 191);
}


.footer-right {
    margin-right: 30px;
}

.footer-links ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links ul li {
    list-style: none;
    margin-left: 30px;
    font-size: 16px;
}

.footer-links ul li a {
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .3s ease;
}

.footer-links ul li a svg {
    fill: white;
    transition: .5s, ease;
}

.footer-links ul li a svg:hover {
    fill: rgb(255, 0, 191);
    transform: scale(1.2);
}
